-- CreateEnum
CREATE TYPE "PanelRole" AS ENUM ('ADMIN', 'RESELLER', 'SUB_RESELLER');

-- CreateEnum
CREATE TYPE "StreamType" AS ENUM ('LIVE', 'MOVIE', 'SERIES');

-- CreateEnum
CREATE TYPE "CategoryType" AS ENUM ('LIVE', 'MOVIE', 'SERIES', 'RADIO');

-- CreateEnum
CREATE TYPE "VodMode" AS ENUM ('LIVE', 'ON_DEMAND', 'CATCHUP');

-- CreateEnum
CREATE TYPE "LineAuthMode" AS ENUM ('USERNAME_PASSWORD', 'ACTIVE_CODE');

-- CreateEnum
CREATE TYPE "LineStatus" AS ENUM ('ACTIVE', 'DISABLED', 'BANNED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "WatchFolderType" AS ENUM ('MOVIE', 'SERIES', 'M3U', 'MIXED');

-- CreateEnum
CREATE TYPE "ImportKind" AS ENUM ('M3U', 'FOLDER', 'WATCH_SCAN');

-- CreateEnum
CREATE TYPE "ProxyType" AS ENUM ('HTTP', 'HTTPS', 'SOCKS5');

-- CreateEnum
CREATE TYPE "TicketStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "TicketPriority" AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "TicketCategory" AS ENUM ('SUPPORT', 'SUGGESTION', 'REPORT', 'BUG', 'BILLING', 'GENERAL');

-- CreateEnum
CREATE TYPE "PanelNotificationKind" AS ENUM ('UPDATE', 'MESSAGE', 'ALERT');

-- CreateEnum
CREATE TYPE "PanelNotificationPriority" AS ENUM ('NORMAL', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "PanelNotificationTarget" AS ENUM ('ALL_RESELLERS', 'SPECIFIC_USER');

-- CreateEnum
CREATE TYPE "DeviceBindingStatus" AS ENUM ('PENDING', 'ACTIVE', 'REVOKED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "FingerprintType" AS ENUM ('INVISIBLE_WATERMARK', 'TOKEN_SIGNATURE', 'SESSION_HASH');

-- CreateEnum
CREATE TYPE "StreamHealthStatus" AS ENUM ('UP', 'DOWN', 'DEGRADED', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "AutoActionType" AS ENUM ('BAN_LINE', 'DISABLE_LINE', 'NOTIFY_ADMIN', 'NOTIFY_RESELLER', 'LOG_ONLY');

-- CreateEnum
CREATE TYPE "MassEditEntity" AS ENUM ('LINES', 'STREAMS', 'CHANNELS', 'MOVIES', 'SERIES', 'BOUQUETS', 'RESELLERS', 'MAG_DEVICES', 'ENIGMA_DEVICES');

-- CreateEnum
CREATE TYPE "MassEditStatus" AS ENUM ('QUEUED', 'RUNNING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "MigrationSource" AS ENUM ('XTREAM_UI', 'XUI', 'NXT', 'XCIPTV', 'WHMCS', 'CUSTOM');

-- CreateEnum
CREATE TYPE "MigrationStatus" AS ENUM ('QUEUED', 'RUNNING', 'COMPLETED', 'FAILED', 'PARTIAL');

-- CreateEnum
CREATE TYPE "BackupType" AS ENUM ('FULL_PANEL', 'DATABASE_ONLY', 'CONFIG_ONLY', 'STREAMS_ONLY', 'LINES_ONLY');

-- CreateEnum
CREATE TYPE "BackupStatus" AS ENUM ('QUEUED', 'RUNNING', 'COMPLETED', 'FAILED', 'ENCRYPTING', 'UPLOADING');

-- CreateEnum
CREATE TYPE "CleanerTaskType" AS ENUM ('ORPHANED_STREAMS', 'EXPIRED_LINES', 'OLD_LOGS', 'TEMP_FILES', 'DATABASE_VACUUM', 'ORPHANED_EPG', 'UNUSED_CATEGORIES', 'BROKEN_STREAMS');

-- CreateEnum
CREATE TYPE "CleanerTaskStatus" AS ENUM ('SCHEDULED', 'RUNNING', 'COMPLETED', 'FAILED', 'SKIPPED');

-- CreateTable
CREATE TABLE "PanelUser" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "displayName" TEXT,
    "email" TEXT,
    "avatarUrl" TEXT,
    "avatarConfig" JSONB,
    "totpSecret" TEXT,
    "totpEnabled" BOOLEAN NOT NULL DEFAULT false,
    "role" "PanelRole" NOT NULL DEFAULT 'ADMIN',
    "credits" INTEGER NOT NULL DEFAULT 0,
    "apiKey" TEXT,
    "accessCode" TEXT,
    "parentId" TEXT,
    "maxLines" INTEGER NOT NULL DEFAULT 500,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "defaultLanguage" TEXT NOT NULL DEFAULT 'en',
    "resellerDns" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "groupId" TEXT,

    CONSTRAINT "PanelUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Affiliate" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "referralCode" TEXT NOT NULL,
    "commissionRate" DOUBLE PRECISION NOT NULL DEFAULT 0.10,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "totalReferrals" INTEGER NOT NULL DEFAULT 0,
    "totalCommissions" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Affiliate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Referral" (
    "id" TEXT NOT NULL,
    "referrerId" TEXT NOT NULL,
    "referredId" TEXT NOT NULL,
    "affiliateId" TEXT,
    "referralCode" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'active',
    "convertedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Referral_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Commission" (
    "id" TEXT NOT NULL,
    "affiliateId" TEXT NOT NULL,
    "userId" TEXT,
    "referralId" TEXT,
    "amount" DOUBLE PRECISION NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'referral',
    "status" TEXT NOT NULL DEFAULT 'pending',
    "paidAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Commission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CreditTransaction" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "balanceAfter" INTEGER NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CreditTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamProxy" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "host" TEXT NOT NULL,
    "port" INTEGER NOT NULL,
    "type" "ProxyType" NOT NULL DEFAULT 'HTTP',
    "username" TEXT,
    "password" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isFreeTier" BOOLEAN NOT NULL DEFAULT false,
    "country" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StreamProxy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamServer" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "host" TEXT NOT NULL,
    "port" INTEGER NOT NULL DEFAULT 8080,
    "protocol" TEXT NOT NULL DEFAULT 'http',
    "proxyId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "maxClients" INTEGER NOT NULL DEFAULT 1000,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "description" TEXT,
    "privateIp" TEXT,
    "domain" TEXT,
    "panelPort" INTEGER NOT NULL DEFAULT 3000,
    "timeshiftOnly" BOOLEAN NOT NULL DEFAULT false,
    "region" TEXT,
    "rtmpPort" INTEGER,
    "bandwidthMbps" INTEGER,
    "healthStatus" TEXT NOT NULL DEFAULT 'unknown',
    "healthMessage" TEXT,
    "lastHealthAt" TIMESTAMP(3),
    "dnsRotator" JSONB,
    "agentToken" TEXT,
    "agentLastSeen" TIMESTAMP(3),
    "agentVersion" TEXT,
    "configRevision" INTEGER NOT NULL DEFAULT 0,
    "agentSshHost" TEXT,
    "agentSshPort" INTEGER NOT NULL DEFAULT 22,
    "agentSshUser" TEXT,
    "agentUseSsh" BOOLEAN NOT NULL DEFAULT false,
    "httpsPort" INTEGER NOT NULL DEFAULT 443,
    "geoLbCountries" JSONB,
    "geoLbIsps" JSONB,
    "panelSettings" JSONB,
    "autoScaleEnabled" BOOLEAN NOT NULL DEFAULT false,
    "autoScaleMinInstances" INTEGER NOT NULL DEFAULT 1,
    "autoScaleMaxInstances" INTEGER NOT NULL DEFAULT 4,
    "autoScaleCpuThreshold" INTEGER NOT NULL DEFAULT 80,
    "autoScaleCooldownSec" INTEGER NOT NULL DEFAULT 300,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StreamServer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Category" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "categoryType" "CategoryType" NOT NULL DEFAULT 'LIVE',
    "isAdult" BOOLEAN NOT NULL DEFAULT false,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Stream" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "streamIcon" TEXT,
    "streamUrl" TEXT NOT NULL,
    "backupUrl" TEXT,
    "type" "StreamType" NOT NULL DEFAULT 'LIVE',
    "serverId" TEXT,
    "categoryId" TEXT,
    "epgChannelId" TEXT,
    "channelId" TEXT,
    "minSpeedKbps" INTEGER,
    "maxSpeedKbps" INTEGER,
    "seriesName" TEXT,
    "seasonNum" INTEGER,
    "episodeNum" INTEGER,
    "containerExtension" TEXT DEFAULT 'mp4',
    "isOnDemand" BOOLEAN NOT NULL DEFAULT false,
    "vodMode" "VodMode" NOT NULL DEFAULT 'LIVE',
    "archiveDays" INTEGER,
    "playlistUrl" TEXT,
    "providerId" TEXT,
    "providerPath" TEXT,
    "hostedExternally" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "timeshiftSeconds" INTEGER,
    "isShifted" BOOLEAN NOT NULL DEFAULT false,
    "parentStreamId" TEXT,
    "dnsRotator" JSONB,
    "bitrates" JSONB,
    "autoRestart" BOOLEAN NOT NULL DEFAULT true,
    "isCreatedChannel" BOOLEAN NOT NULL DEFAULT false,
    "isRadio" BOOLEAN NOT NULL DEFAULT false,
    "isAdult" BOOLEAN NOT NULL DEFAULT false,
    "agentStartCmd" TEXT,
    "agentPid" INTEGER,
    "lastProbeAt" TIMESTAMP(3),
    "lastProbeOk" BOOLEAN,
    "lastProbeError" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Stream_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WatchFolder" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "path" TEXT NOT NULL,
    "type" "WatchFolderType" NOT NULL DEFAULT 'MIXED',
    "categoryId" TEXT,
    "serverId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "autoScanMins" INTEGER NOT NULL DEFAULT 0,
    "lastScan" TIMESTAMP(3),
    "importedCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WatchFolder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImportJob" (
    "id" TEXT NOT NULL,
    "kind" "ImportKind" NOT NULL,
    "source" TEXT NOT NULL,
    "streamType" "StreamType" NOT NULL DEFAULT 'MOVIE',
    "status" TEXT NOT NULL DEFAULT 'queued',
    "imported" INTEGER NOT NULL DEFAULT 0,
    "skipped" INTEGER NOT NULL DEFAULT 0,
    "message" TEXT,
    "watchFolderId" TEXT,
    "categoryId" TEXT,
    "serverId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "ImportJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamProcess" (
    "id" TEXT NOT NULL,
    "serverId" TEXT NOT NULL,
    "streamId" TEXT,
    "pid" INTEGER,
    "name" TEXT,
    "status" TEXT NOT NULL DEFAULT 'unknown',
    "cpuPercent" DOUBLE PRECISION,
    "memoryMb" DOUBLE PRECISION,
    "bitrateKbps" INTEGER,
    "autoRestart" BOOLEAN NOT NULL DEFAULT true,
    "errorMessage" TEXT,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3),

    CONSTRAINT "StreamProcess_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AgentCommand" (
    "id" TEXT NOT NULL,
    "serverId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "payload" JSONB,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "result" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "AgentCommand_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LiveConnection" (
    "id" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "streamId" TEXT,
    "ip" TEXT,
    "userAgent" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LiveConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bouquet" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Bouquet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BouquetStream" (
    "bouquetId" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "BouquetStream_pkey" PRIMARY KEY ("bouquetId","streamId")
);

-- CreateTable
CREATE TABLE "ResellerBouquet" (
    "userId" TEXT NOT NULL,
    "bouquetId" TEXT NOT NULL,

    CONSTRAINT "ResellerBouquet_pkey" PRIMARY KEY ("userId","bouquetId")
);

-- CreateTable
CREATE TABLE "Line" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "authMode" "LineAuthMode" NOT NULL DEFAULT 'USERNAME_PASSWORD',
    "activeCode" TEXT,
    "status" "LineStatus" NOT NULL DEFAULT 'ACTIVE',
    "maxConnections" INTEGER NOT NULL DEFAULT 1,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "ownerId" TEXT,
    "externalId" TEXT,
    "notes" TEXT,
    "allowedOutput" TEXT NOT NULL DEFAULT 'ts,hls,m3u8',
    "lockToIp" BOOLEAN NOT NULL DEFAULT false,
    "allowedIps" TEXT,
    "allowedCountries" TEXT,
    "blockedCountries" TEXT,
    "allowedUserAgents" TEXT,
    "disallowedUserAgents" TEXT,
    "blockedIsps" TEXT,
    "canWatchAdult" BOOLEAN NOT NULL DEFAULT true,
    "isRestreamer" BOOLEAN NOT NULL DEFAULT false,
    "isTrial" BOOLEAN NOT NULL DEFAULT false,
    "forcedServerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastWatchedAt" TIMESTAMP(3),
    "lastWatchedStreamId" TEXT,
    "lastWatchedIp" TEXT,

    CONSTRAINT "Line_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LineChannelWatch" (
    "id" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "watchCount" INTEGER NOT NULL DEFAULT 1,
    "lastWatchedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LineChannelWatch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MagDevice" (
    "id" TEXT NOT NULL,
    "mac" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "model" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MagDevice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EnigmaDevice" (
    "id" TEXT NOT NULL,
    "mac" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "model" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EnigmaDevice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EpgSource" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "sourceType" TEXT NOT NULL DEFAULT 'xmltv',
    "config" JSONB,
    "country" TEXT,
    "lastSync" TIMESTAMP(3),
    "syncEveryHours" INTEGER NOT NULL DEFAULT 24,
    "lastSyncError" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EpgSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StbEvent" (
    "id" TEXT NOT NULL,
    "deviceType" TEXT NOT NULL,
    "mac" TEXT,
    "lineId" TEXT,
    "event" TEXT NOT NULL,
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StbEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EpgProgram" (
    "id" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "channelId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "start" TIMESTAMP(3) NOT NULL,
    "stop" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EpgProgram_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BillingEvent" (
    "id" TEXT NOT NULL,
    "provider" TEXT NOT NULL DEFAULT 'whmcs',
    "action" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "lineId" TEXT,
    "status" TEXT NOT NULL,
    "message" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BillingEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LineBouquet" (
    "lineId" TEXT NOT NULL,
    "bouquetId" TEXT NOT NULL,

    CONSTRAINT "LineBouquet_pkey" PRIMARY KEY ("lineId","bouquetId")
);

-- CreateTable
CREATE TABLE "ActivityLog" (
    "id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entity" TEXT,
    "entityId" TEXT,
    "userId" TEXT,
    "lineId" TEXT,
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PanelSetting" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "PanelSetting_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "BandwidthSnapshot" (
    "id" TEXT NOT NULL,
    "bytesIn" BIGINT NOT NULL DEFAULT 0,
    "bytesOut" BIGINT NOT NULL DEFAULT 0,
    "connections" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BandwidthSnapshot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CronRunLog" (
    "id" TEXT NOT NULL,
    "job" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "message" TEXT,
    "durationMs" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CronRunLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ticket" (
    "id" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "status" "TicketStatus" NOT NULL DEFAULT 'OPEN',
    "priority" "TicketPriority" NOT NULL DEFAULT 'NORMAL',
    "category" "TicketCategory" NOT NULL DEFAULT 'SUPPORT',
    "createdById" TEXT NOT NULL,
    "assignedToId" TEXT,
    "lineId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Ticket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TicketMessage" (
    "id" TEXT NOT NULL,
    "ticketId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TicketMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PanelChatMessage" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PanelChatMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PanelNotification" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "kind" "PanelNotificationKind" NOT NULL,
    "priority" "PanelNotificationPriority" NOT NULL DEFAULT 'NORMAL',
    "target" "PanelNotificationTarget" NOT NULL,
    "recipientId" TEXT,
    "createdById" TEXT NOT NULL,
    "isPinned" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PanelNotification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PanelNotificationRead" (
    "id" TEXT NOT NULL,
    "notificationId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "readAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PanelNotificationRead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserGroup" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT DEFAULT '#e85d4c',
    "parentId" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isReseller" BOOLEAN NOT NULL DEFAULT false,
    "isBanned" BOOLEAN NOT NULL DEFAULT false,
    "config" JSONB NOT NULL DEFAULT '{}',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserGroup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Package" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "creditCost" INTEGER NOT NULL DEFAULT 0,
    "maxLines" INTEGER NOT NULL DEFAULT 1,
    "extraDeviceSlots" INTEGER NOT NULL DEFAULT 0,
    "days" INTEGER NOT NULL DEFAULT 30,
    "bouquetIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Package_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamProvider" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "baseUrl" TEXT NOT NULL,
    "apiKey" TEXT,
    "providerType" TEXT,
    "description" TEXT,
    "contactEmail" TEXT,
    "region" TEXT,
    "maxStreams" INTEGER,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'unknown',
    "statusMessage" TEXT,
    "lastCheckAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StreamProvider_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockedAsn" (
    "id" TEXT NOT NULL,
    "asn" TEXT NOT NULL,
    "label" TEXT,
    "reason" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BlockedAsn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockedIp" (
    "id" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "label" TEXT,
    "reason" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BlockedIp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockedIsp" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "reason" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BlockedIsp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockedUserAgent" (
    "id" TEXT NOT NULL,
    "pattern" TEXT NOT NULL,
    "reason" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BlockedUserAgent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RtmpEndpoint" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "host" TEXT NOT NULL,
    "port" INTEGER NOT NULL DEFAULT 1935,
    "appName" TEXT DEFAULT 'live',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RtmpEndpoint_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AccessCode" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "packageId" TEXT,
    "bouquetIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "days" INTEGER NOT NULL DEFAULT 30,
    "maxConnections" INTEGER NOT NULL DEFAULT 1,
    "maxUses" INTEGER NOT NULL DEFAULT 1,
    "uses" INTEGER NOT NULL DEFAULT 0,
    "expiresAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AccessCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MediaIntegration" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "config" JSONB NOT NULL DEFAULT '{}',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastSync" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MediaIntegration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AddonLicense" (
    "id" TEXT NOT NULL,
    "service" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "licenseKey" TEXT,
    "expiresAt" TIMESTAMP(3),
    "notes" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AddonLicense_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Coupon" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "label" TEXT,
    "discountType" TEXT NOT NULL DEFAULT 'percent',
    "discountValue" DOUBLE PRECISION NOT NULL,
    "maxUses" INTEGER NOT NULL DEFAULT 0,
    "uses" INTEGER NOT NULL DEFAULT 0,
    "minDays" INTEGER,
    "discountMonths" INTEGER,
    "expiresAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Coupon_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeakAuditLog" (
    "id" TEXT NOT NULL,
    "lineId" TEXT,
    "streamId" TEXT,
    "ip" TEXT,
    "userAgent" TEXT,
    "fingerprint" TEXT,
    "action" TEXT NOT NULL,
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LeakAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppBuild" (
    "id" TEXT NOT NULL,
    "appName" TEXT NOT NULL,
    "packageName" TEXT NOT NULL,
    "logoUrl" TEXT,
    "primaryColor" TEXT NOT NULL DEFAULT '#00c0ef',
    "serverUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'QUEUED',
    "downloadUrl" TEXT,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "AppBuild_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DeviceBinding" (
    "id" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "deviceName" TEXT,
    "deviceType" TEXT,
    "deviceModel" TEXT,
    "appVersion" TEXT,
    "appPackage" TEXT,
    "ip" TEXT,
    "userAgent" TEXT,
    "fingerprint" TEXT,
    "status" "DeviceBindingStatus" NOT NULL DEFAULT 'PENDING',
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "boundAt" TIMESTAMP(3),
    "revokedAt" TIMESTAMP(3),
    "revokedReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DeviceBinding_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamFingerprint" (
    "id" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "type" "FingerprintType" NOT NULL DEFAULT 'INVISIBLE_WATERMARK',
    "token" TEXT NOT NULL,
    "payload" JSONB,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "StreamFingerprint_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SameIpDetection" (
    "id" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "ip" TEXT NOT NULL,
    "concurrentLines" INTEGER NOT NULL DEFAULT 1,
    "detectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),
    "autoAction" TEXT,
    "actionTaken" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,

    CONSTRAINT "SameIpDetection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LoadBalancerSession" (
    "id" TEXT NOT NULL,
    "sessionKey" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "streamId" TEXT,
    "serverId" TEXT,
    "deviceId" TEXT,
    "ip" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "bytesIn" BIGINT NOT NULL DEFAULT 0,
    "bytesOut" BIGINT NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "LoadBalancerSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TmdbSyncJob" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "tmdbId" INTEGER,
    "imdbId" TEXT,
    "title" TEXT,
    "streamId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'queued',
    "metadata" JSONB,
    "posterUrl" TEXT,
    "backdropUrl" TEXT,
    "genres" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "overview" TEXT,
    "rating" DOUBLE PRECISION,
    "releaseDate" TIMESTAMP(3),
    "runtime" INTEGER,
    "seasons" JSONB,
    "episodes" JSONB,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "TmdbSyncJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "M3uSyncJob" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "providerId" TEXT,
    "streamType" TEXT NOT NULL DEFAULT 'MIXED',
    "categoryId" TEXT,
    "serverId" TEXT,
    "autoTmdb" BOOLEAN NOT NULL DEFAULT true,
    "autoCategory" BOOLEAN NOT NULL DEFAULT true,
    "categoryMap" JSONB,
    "autoAssignEpg" BOOLEAN NOT NULL DEFAULT true,
    "lastSyncAt" TIMESTAMP(3),
    "nextSyncAt" TIMESTAMP(3),
    "syncIntervalMins" INTEGER NOT NULL DEFAULT 60,
    "status" TEXT NOT NULL DEFAULT 'active',
    "lastResult" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "M3uSyncJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamHealthCheck" (
    "id" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "serverId" TEXT,
    "status" "StreamHealthStatus" NOT NULL DEFAULT 'UNKNOWN',
    "responseTimeMs" INTEGER,
    "bitrateKbps" INTEGER,
    "audioTracks" INTEGER,
    "videoTracks" INTEGER,
    "hasAudioLoss" BOOLEAN NOT NULL DEFAULT false,
    "hasLoop" BOOLEAN NOT NULL DEFAULT false,
    "hasFreeze" BOOLEAN NOT NULL DEFAULT false,
    "errorMessage" TEXT,
    "checkedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StreamHealthCheck_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StreamIssue" (
    "id" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "issueType" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'warning',
    "detectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),
    "autoFixed" BOOLEAN NOT NULL DEFAULT false,
    "fixAction" TEXT,
    "fixResult" TEXT,
    "serverId" TEXT,

    CONSTRAINT "StreamIssue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MassEditJob" (
    "id" TEXT NOT NULL,
    "entity" "MassEditEntity" NOT NULL,
    "action" TEXT NOT NULL,
    "filter" JSONB,
    "changes" JSONB NOT NULL,
    "affectedIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "totalCount" INTEGER NOT NULL DEFAULT 0,
    "successCount" INTEGER NOT NULL DEFAULT 0,
    "failCount" INTEGER NOT NULL DEFAULT 0,
    "errors" JSONB,
    "status" "MassEditStatus" NOT NULL DEFAULT 'QUEUED',
    "createdById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "MassEditJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MigrationJob" (
    "id" TEXT NOT NULL,
    "source" "MigrationSource" NOT NULL,
    "sourceUrl" TEXT,
    "sourceApiKey" TEXT,
    "status" "MigrationStatus" NOT NULL DEFAULT 'QUEUED',
    "options" JSONB,
    "stats" JSONB,
    "errors" JSONB,
    "createdById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "MigrationJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "XdriveBackup" (
    "id" TEXT NOT NULL,
    "type" "BackupType" NOT NULL,
    "status" "BackupStatus" NOT NULL DEFAULT 'QUEUED',
    "filePath" TEXT,
    "fileSizeBytes" BIGINT,
    "encrypted" BOOLEAN NOT NULL DEFAULT true,
    "encryptionKey" TEXT,
    "uploadUrl" TEXT,
    "uploadProvider" TEXT,
    "retentionDays" INTEGER NOT NULL DEFAULT 30,
    "expiresAt" TIMESTAMP(3),
    "error" TEXT,
    "createdById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "XdriveBackup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ServerCleanerTask" (
    "id" TEXT NOT NULL,
    "taskType" "CleanerTaskType" NOT NULL,
    "status" "CleanerTaskStatus" NOT NULL DEFAULT 'SCHEDULED',
    "schedule" TEXT,
    "lastRunAt" TIMESTAMP(3),
    "nextRunAt" TIMESTAMP(3),
    "result" JSONB,
    "error" TEXT,
    "isAuto" BOOLEAN NOT NULL DEFAULT false,
    "createdById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ServerCleanerTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExpiryVideo" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "videoUrl" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'generic',
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "language" TEXT NOT NULL DEFAULT 'en',
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExpiryVideo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResellerApiKey" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "label" TEXT,
    "permissions" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "allowedIps" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "lastUsedAt" TIMESTAMP(3),
    "usageCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResellerApiKey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EpgAutoAssignment" (
    "id" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "streamId" TEXT,
    "matchedChannelId" TEXT,
    "matchScore" DOUBLE PRECISION,
    "matchMethod" TEXT,
    "isConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EpgAutoAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppsLockPolicy" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "allowedApps" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "blockedApps" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "allowedAppTypes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AppsLockPolicy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LineAppsLock" (
    "lineId" TEXT NOT NULL,
    "policyId" TEXT NOT NULL,
    "override" JSONB,

    CONSTRAINT "LineAppsLock_pkey" PRIMARY KEY ("lineId","policyId")
);

-- CreateTable
CREATE TABLE "SourceMonitorAlert" (
    "id" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "serverId" TEXT,
    "alertType" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'warning',
    "message" TEXT NOT NULL,
    "isResolved" BOOLEAN NOT NULL DEFAULT false,
    "resolvedAt" TIMESTAMP(3),
    "notifiedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SourceMonitorAlert_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConnectionGeography" (
    "id" TEXT NOT NULL,
    "lineId" TEXT,
    "streamId" TEXT,
    "country" TEXT NOT NULL,
    "countryCode" TEXT NOT NULL,
    "region" TEXT,
    "city" TEXT,
    "lat" DOUBLE PRECISION,
    "lng" DOUBLE PRECISION,
    "connectionCount" INTEGER NOT NULL DEFAULT 1,
    "bandwidthBytes" BIGINT NOT NULL DEFAULT 0,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ConnectionGeography_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiInsight" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'info',
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "data" JSONB,
    "entityType" TEXT,
    "entityId" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "isActioned" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AiInsight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiQueryLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "query" TEXT NOT NULL,
    "sqlGenerated" TEXT,
    "result" JSONB,
    "tokensUsed" INTEGER NOT NULL DEFAULT 0,
    "latencyMs" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AiQueryLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiSupportChat" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "lineId" TEXT,
    "role" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "tokensUsed" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AiSupportChat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiAnomalyLog" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'warning',
    "entityType" TEXT NOT NULL,
    "entityId" TEXT,
    "description" TEXT NOT NULL,
    "data" JSONB,
    "isResolved" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AiAnomalyLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiTranscodeSuggestion" (
    "id" TEXT NOT NULL,
    "streamId" TEXT,
    "reason" TEXT NOT NULL,
    "currentBitrate" INTEGER,
    "suggestedBitrate" INTEGER,
    "estimatedSavings" DOUBLE PRECISION,
    "viewerImpact" TEXT,
    "isApplied" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AiTranscodeSuggestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ModerationFlag" (
    "id" TEXT NOT NULL,
    "streamId" TEXT NOT NULL,
    "streamName" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'medium',
    "status" TEXT NOT NULL DEFAULT 'pending',
    "flaggedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,

    CONSTRAINT "ModerationFlag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CdnEndpoint" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "region" TEXT NOT NULL DEFAULT 'global',
    "maxBandwidthMbps" INTEGER NOT NULL DEFAULT 1000,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CdnEndpoint_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "PanelUser_username_key" ON "PanelUser"("username");

-- CreateIndex
CREATE UNIQUE INDEX "PanelUser_apiKey_key" ON "PanelUser"("apiKey");

-- CreateIndex
CREATE UNIQUE INDEX "Affiliate_userId_key" ON "Affiliate"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Affiliate_referralCode_key" ON "Affiliate"("referralCode");

-- CreateIndex
CREATE UNIQUE INDEX "Referral_referrerId_referredId_key" ON "Referral"("referrerId", "referredId");

-- CreateIndex
CREATE INDEX "CreditTransaction_userId_createdAt_idx" ON "CreditTransaction"("userId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "StreamServer_agentToken_key" ON "StreamServer"("agentToken");

-- CreateIndex
CREATE INDEX "Stream_type_isActive_idx" ON "Stream"("type", "isActive");

-- CreateIndex
CREATE INDEX "Stream_serverId_idx" ON "Stream"("serverId");

-- CreateIndex
CREATE INDEX "Stream_categoryId_idx" ON "Stream"("categoryId");

-- CreateIndex
CREATE INDEX "Stream_lastProbeOk_idx" ON "Stream"("lastProbeOk");

-- CreateIndex
CREATE INDEX "Stream_providerId_idx" ON "Stream"("providerId");

-- CreateIndex
CREATE INDEX "ImportJob_status_createdAt_idx" ON "ImportJob"("status", "createdAt");

-- CreateIndex
CREATE INDEX "StreamProcess_serverId_status_idx" ON "StreamProcess"("serverId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "StreamProcess_serverId_streamId_key" ON "StreamProcess"("serverId", "streamId");

-- CreateIndex
CREATE INDEX "AgentCommand_serverId_status_idx" ON "AgentCommand"("serverId", "status");

-- CreateIndex
CREATE INDEX "LiveConnection_lineId_idx" ON "LiveConnection"("lineId");

-- CreateIndex
CREATE INDEX "LiveConnection_lastSeenAt_idx" ON "LiveConnection"("lastSeenAt");

-- CreateIndex
CREATE INDEX "LiveConnection_lastSeenAt_lineId_idx" ON "LiveConnection"("lastSeenAt", "lineId");

-- CreateIndex
CREATE INDEX "LiveConnection_streamId_lastSeenAt_idx" ON "LiveConnection"("streamId", "lastSeenAt");

-- CreateIndex
CREATE INDEX "LiveConnection_ip_idx" ON "LiveConnection"("ip");

-- CreateIndex
CREATE UNIQUE INDEX "Line_username_key" ON "Line"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Line_activeCode_key" ON "Line"("activeCode");

-- CreateIndex
CREATE UNIQUE INDEX "Line_externalId_key" ON "Line"("externalId");

-- CreateIndex
CREATE INDEX "Line_ownerId_idx" ON "Line"("ownerId");

-- CreateIndex
CREATE INDEX "Line_status_expiresAt_idx" ON "Line"("status", "expiresAt");

-- CreateIndex
CREATE INDEX "Line_expiresAt_idx" ON "Line"("expiresAt");

-- CreateIndex
CREATE INDEX "Line_createdAt_idx" ON "Line"("createdAt");

-- CreateIndex
CREATE INDEX "LineChannelWatch_lineId_idx" ON "LineChannelWatch"("lineId");

-- CreateIndex
CREATE UNIQUE INDEX "LineChannelWatch_lineId_streamId_key" ON "LineChannelWatch"("lineId", "streamId");

-- CreateIndex
CREATE UNIQUE INDEX "MagDevice_mac_key" ON "MagDevice"("mac");

-- CreateIndex
CREATE INDEX "MagDevice_lineId_idx" ON "MagDevice"("lineId");

-- CreateIndex
CREATE UNIQUE INDEX "EnigmaDevice_mac_key" ON "EnigmaDevice"("mac");

-- CreateIndex
CREATE INDEX "EnigmaDevice_lineId_idx" ON "EnigmaDevice"("lineId");

-- CreateIndex
CREATE INDEX "StbEvent_lineId_createdAt_idx" ON "StbEvent"("lineId", "createdAt");

-- CreateIndex
CREATE INDEX "StbEvent_mac_createdAt_idx" ON "StbEvent"("mac", "createdAt");

-- CreateIndex
CREATE INDEX "EpgProgram_channelId_start_idx" ON "EpgProgram"("channelId", "start");

-- CreateIndex
CREATE INDEX "EpgProgram_sourceId_idx" ON "EpgProgram"("sourceId");

-- CreateIndex
CREATE INDEX "BillingEvent_lineId_createdAt_idx" ON "BillingEvent"("lineId", "createdAt");

-- CreateIndex
CREATE INDEX "BillingEvent_provider_createdAt_idx" ON "BillingEvent"("provider", "createdAt");

-- CreateIndex
CREATE INDEX "ActivityLog_createdAt_idx" ON "ActivityLog"("createdAt");

-- CreateIndex
CREATE INDEX "ActivityLog_userId_createdAt_idx" ON "ActivityLog"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "ActivityLog_lineId_createdAt_idx" ON "ActivityLog"("lineId", "createdAt");

-- CreateIndex
CREATE INDEX "ActivityLog_entity_entityId_idx" ON "ActivityLog"("entity", "entityId");

-- CreateIndex
CREATE INDEX "BandwidthSnapshot_createdAt_idx" ON "BandwidthSnapshot"("createdAt");

-- CreateIndex
CREATE INDEX "CronRunLog_createdAt_idx" ON "CronRunLog"("createdAt");

-- CreateIndex
CREATE INDEX "Ticket_status_idx" ON "Ticket"("status");

-- CreateIndex
CREATE INDEX "Ticket_category_idx" ON "Ticket"("category");

-- CreateIndex
CREATE INDEX "Ticket_createdById_idx" ON "Ticket"("createdById");

-- CreateIndex
CREATE INDEX "TicketMessage_ticketId_createdAt_idx" ON "TicketMessage"("ticketId", "createdAt");

-- CreateIndex
CREATE INDEX "PanelChatMessage_createdAt_idx" ON "PanelChatMessage"("createdAt");

-- CreateIndex
CREATE INDEX "PanelNotification_isActive_createdAt_idx" ON "PanelNotification"("isActive", "createdAt");

-- CreateIndex
CREATE INDEX "PanelNotification_target_recipientId_idx" ON "PanelNotification"("target", "recipientId");

-- CreateIndex
CREATE INDEX "PanelNotificationRead_userId_idx" ON "PanelNotificationRead"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "PanelNotificationRead_notificationId_userId_key" ON "PanelNotificationRead"("notificationId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "BlockedAsn_asn_key" ON "BlockedAsn"("asn");

-- CreateIndex
CREATE UNIQUE INDEX "BlockedIp_value_key" ON "BlockedIp"("value");

-- CreateIndex
CREATE UNIQUE INDEX "AccessCode_code_key" ON "AccessCode"("code");

-- CreateIndex
CREATE INDEX "MediaIntegration_type_isActive_idx" ON "MediaIntegration"("type", "isActive");

-- CreateIndex
CREATE INDEX "AddonLicense_service_isActive_idx" ON "AddonLicense"("service", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "Coupon_code_key" ON "Coupon"("code");

-- CreateIndex
CREATE INDEX "Coupon_isActive_code_idx" ON "Coupon"("isActive", "code");

-- CreateIndex
CREATE INDEX "LeakAuditLog_lineId_createdAt_idx" ON "LeakAuditLog"("lineId", "createdAt");

-- CreateIndex
CREATE INDEX "LeakAuditLog_streamId_createdAt_idx" ON "LeakAuditLog"("streamId", "createdAt");

-- CreateIndex
CREATE INDEX "AppBuild_status_createdAt_idx" ON "AppBuild"("status", "createdAt");

-- CreateIndex
CREATE INDEX "AppBuild_createdBy_idx" ON "AppBuild"("createdBy");

-- CreateIndex
CREATE INDEX "DeviceBinding_lineId_status_idx" ON "DeviceBinding"("lineId", "status");

-- CreateIndex
CREATE INDEX "DeviceBinding_deviceId_status_idx" ON "DeviceBinding"("deviceId", "status");

-- CreateIndex
CREATE INDEX "DeviceBinding_boundAt_idx" ON "DeviceBinding"("boundAt");

-- CreateIndex
CREATE UNIQUE INDEX "DeviceBinding_lineId_deviceId_key" ON "DeviceBinding"("lineId", "deviceId");

-- CreateIndex
CREATE UNIQUE INDEX "StreamFingerprint_token_key" ON "StreamFingerprint"("token");

-- CreateIndex
CREATE INDEX "StreamFingerprint_streamId_isActive_idx" ON "StreamFingerprint"("streamId", "isActive");

-- CreateIndex
CREATE INDEX "StreamFingerprint_lineId_createdAt_idx" ON "StreamFingerprint"("lineId", "createdAt");

-- CreateIndex
CREATE INDEX "StreamFingerprint_token_idx" ON "StreamFingerprint"("token");

-- CreateIndex
CREATE INDEX "SameIpDetection_ip_detectedAt_idx" ON "SameIpDetection"("ip", "detectedAt");

-- CreateIndex
CREATE INDEX "SameIpDetection_lineId_detectedAt_idx" ON "SameIpDetection"("lineId", "detectedAt");

-- CreateIndex
CREATE INDEX "SameIpDetection_actionTaken_detectedAt_idx" ON "SameIpDetection"("actionTaken", "detectedAt");

-- CreateIndex
CREATE UNIQUE INDEX "LoadBalancerSession_sessionKey_key" ON "LoadBalancerSession"("sessionKey");

-- CreateIndex
CREATE INDEX "LoadBalancerSession_lineId_isActive_idx" ON "LoadBalancerSession"("lineId", "isActive");

-- CreateIndex
CREATE INDEX "LoadBalancerSession_sessionKey_idx" ON "LoadBalancerSession"("sessionKey");

-- CreateIndex
CREATE INDEX "LoadBalancerSession_lastSeenAt_idx" ON "LoadBalancerSession"("lastSeenAt");

-- CreateIndex
CREATE INDEX "LoadBalancerSession_serverId_isActive_idx" ON "LoadBalancerSession"("serverId", "isActive");

-- CreateIndex
CREATE INDEX "TmdbSyncJob_status_createdAt_idx" ON "TmdbSyncJob"("status", "createdAt");

-- CreateIndex
CREATE INDEX "TmdbSyncJob_streamId_idx" ON "TmdbSyncJob"("streamId");

-- CreateIndex
CREATE INDEX "TmdbSyncJob_tmdbId_idx" ON "TmdbSyncJob"("tmdbId");

-- CreateIndex
CREATE INDEX "TmdbSyncJob_imdbId_idx" ON "TmdbSyncJob"("imdbId");

-- CreateIndex
CREATE INDEX "M3uSyncJob_status_nextSyncAt_idx" ON "M3uSyncJob"("status", "nextSyncAt");

-- CreateIndex
CREATE INDEX "M3uSyncJob_providerId_idx" ON "M3uSyncJob"("providerId");

-- CreateIndex
CREATE INDEX "StreamHealthCheck_streamId_checkedAt_idx" ON "StreamHealthCheck"("streamId", "checkedAt");

-- CreateIndex
CREATE INDEX "StreamHealthCheck_status_checkedAt_idx" ON "StreamHealthCheck"("status", "checkedAt");

-- CreateIndex
CREATE INDEX "StreamHealthCheck_serverId_checkedAt_idx" ON "StreamHealthCheck"("serverId", "checkedAt");

-- CreateIndex
CREATE INDEX "StreamIssue_streamId_resolvedAt_idx" ON "StreamIssue"("streamId", "resolvedAt");

-- CreateIndex
CREATE INDEX "StreamIssue_issueType_detectedAt_idx" ON "StreamIssue"("issueType", "detectedAt");

-- CreateIndex
CREATE INDEX "StreamIssue_autoFixed_detectedAt_idx" ON "StreamIssue"("autoFixed", "detectedAt");

-- CreateIndex
CREATE INDEX "MassEditJob_status_createdAt_idx" ON "MassEditJob"("status", "createdAt");

-- CreateIndex
CREATE INDEX "MassEditJob_entity_status_idx" ON "MassEditJob"("entity", "status");

-- CreateIndex
CREATE INDEX "MassEditJob_createdById_idx" ON "MassEditJob"("createdById");

-- CreateIndex
CREATE INDEX "MigrationJob_status_createdAt_idx" ON "MigrationJob"("status", "createdAt");

-- CreateIndex
CREATE INDEX "MigrationJob_source_status_idx" ON "MigrationJob"("source", "status");

-- CreateIndex
CREATE INDEX "MigrationJob_createdById_idx" ON "MigrationJob"("createdById");

-- CreateIndex
CREATE INDEX "XdriveBackup_status_createdAt_idx" ON "XdriveBackup"("status", "createdAt");

-- CreateIndex
CREATE INDEX "XdriveBackup_type_status_idx" ON "XdriveBackup"("type", "status");

-- CreateIndex
CREATE INDEX "XdriveBackup_createdById_idx" ON "XdriveBackup"("createdById");

-- CreateIndex
CREATE INDEX "ServerCleanerTask_status_nextRunAt_idx" ON "ServerCleanerTask"("status", "nextRunAt");

-- CreateIndex
CREATE INDEX "ServerCleanerTask_taskType_status_idx" ON "ServerCleanerTask"("taskType", "status");

-- CreateIndex
CREATE INDEX "ServerCleanerTask_isAuto_nextRunAt_idx" ON "ServerCleanerTask"("isAuto", "nextRunAt");

-- CreateIndex
CREATE INDEX "ExpiryVideo_type_isActive_idx" ON "ExpiryVideo"("type", "isActive");

-- CreateIndex
CREATE INDEX "ExpiryVideo_isDefault_language_idx" ON "ExpiryVideo"("isDefault", "language");

-- CreateIndex
CREATE UNIQUE INDEX "ResellerApiKey_key_key" ON "ResellerApiKey"("key");

-- CreateIndex
CREATE INDEX "ResellerApiKey_userId_isActive_idx" ON "ResellerApiKey"("userId", "isActive");

-- CreateIndex
CREATE INDEX "ResellerApiKey_key_idx" ON "ResellerApiKey"("key");

-- CreateIndex
CREATE INDEX "EpgAutoAssignment_sourceId_isConfirmed_idx" ON "EpgAutoAssignment"("sourceId", "isConfirmed");

-- CreateIndex
CREATE INDEX "EpgAutoAssignment_streamId_matchScore_idx" ON "EpgAutoAssignment"("streamId", "matchScore");

-- CreateIndex
CREATE INDEX "EpgAutoAssignment_matchMethod_idx" ON "EpgAutoAssignment"("matchMethod");

-- CreateIndex
CREATE INDEX "AppsLockPolicy_isActive_isDefault_idx" ON "AppsLockPolicy"("isActive", "isDefault");

-- CreateIndex
CREATE INDEX "SourceMonitorAlert_streamId_isResolved_idx" ON "SourceMonitorAlert"("streamId", "isResolved");

-- CreateIndex
CREATE INDEX "SourceMonitorAlert_createdAt_idx" ON "SourceMonitorAlert"("createdAt");

-- CreateIndex
CREATE INDEX "SourceMonitorAlert_severity_isResolved_idx" ON "SourceMonitorAlert"("severity", "isResolved");

-- CreateIndex
CREATE INDEX "ConnectionGeography_country_lastSeenAt_idx" ON "ConnectionGeography"("country", "lastSeenAt");

-- CreateIndex
CREATE INDEX "ConnectionGeography_lineId_lastSeenAt_idx" ON "ConnectionGeography"("lineId", "lastSeenAt");

-- CreateIndex
CREATE INDEX "ConnectionGeography_streamId_lastSeenAt_idx" ON "ConnectionGeography"("streamId", "lastSeenAt");

-- CreateIndex
CREATE INDEX "AiInsight_type_createdAt_idx" ON "AiInsight"("type", "createdAt");

-- CreateIndex
CREATE INDEX "AiInsight_entityType_entityId_idx" ON "AiInsight"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "AiInsight_isRead_isActioned_idx" ON "AiInsight"("isRead", "isActioned");

-- CreateIndex
CREATE INDEX "AiQueryLog_userId_createdAt_idx" ON "AiQueryLog"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "AiQueryLog_createdAt_idx" ON "AiQueryLog"("createdAt");

-- CreateIndex
CREATE INDEX "AiSupportChat_sessionId_createdAt_idx" ON "AiSupportChat"("sessionId", "createdAt");

-- CreateIndex
CREATE INDEX "AiSupportChat_lineId_idx" ON "AiSupportChat"("lineId");

-- CreateIndex
CREATE INDEX "AiAnomalyLog_type_createdAt_idx" ON "AiAnomalyLog"("type", "createdAt");

-- CreateIndex
CREATE INDEX "AiAnomalyLog_entityType_entityId_idx" ON "AiAnomalyLog"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "AiAnomalyLog_isResolved_createdAt_idx" ON "AiAnomalyLog"("isResolved", "createdAt");

-- CreateIndex
CREATE INDEX "AiTranscodeSuggestion_streamId_createdAt_idx" ON "AiTranscodeSuggestion"("streamId", "createdAt");

-- CreateIndex
CREATE INDEX "AiTranscodeSuggestion_isApplied_idx" ON "AiTranscodeSuggestion"("isApplied");

-- CreateIndex
CREATE INDEX "ModerationFlag_streamId_idx" ON "ModerationFlag"("streamId");

-- CreateIndex
CREATE INDEX "ModerationFlag_status_idx" ON "ModerationFlag"("status");

-- CreateIndex
CREATE INDEX "ModerationFlag_severity_idx" ON "ModerationFlag"("severity");

-- CreateIndex
CREATE INDEX "CdnEndpoint_isActive_priority_idx" ON "CdnEndpoint"("isActive", "priority");

-- AddForeignKey
ALTER TABLE "PanelUser" ADD CONSTRAINT "PanelUser_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PanelUser" ADD CONSTRAINT "PanelUser_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES "UserGroup"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Affiliate" ADD CONSTRAINT "Affiliate_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_referrerId_fkey" FOREIGN KEY ("referrerId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_referredId_fkey" FOREIGN KEY ("referredId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES "Affiliate"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Commission" ADD CONSTRAINT "Commission_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES "Affiliate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Commission" ADD CONSTRAINT "Commission_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Commission" ADD CONSTRAINT "Commission_referralId_fkey" FOREIGN KEY ("referralId") REFERENCES "Referral"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditTransaction" ADD CONSTRAINT "CreditTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamServer" ADD CONSTRAINT "StreamServer_proxyId_fkey" FOREIGN KEY ("proxyId") REFERENCES "StreamProxy"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Category" ADD CONSTRAINT "Category_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Category"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Stream" ADD CONSTRAINT "Stream_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Stream" ADD CONSTRAINT "Stream_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Category"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Stream" ADD CONSTRAINT "Stream_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "StreamProvider"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Stream" ADD CONSTRAINT "Stream_parentStreamId_fkey" FOREIGN KEY ("parentStreamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamProcess" ADD CONSTRAINT "StreamProcess_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamProcess" ADD CONSTRAINT "StreamProcess_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentCommand" ADD CONSTRAINT "AgentCommand_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiveConnection" ADD CONSTRAINT "LiveConnection_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiveConnection" ADD CONSTRAINT "LiveConnection_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BouquetStream" ADD CONSTRAINT "BouquetStream_bouquetId_fkey" FOREIGN KEY ("bouquetId") REFERENCES "Bouquet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BouquetStream" ADD CONSTRAINT "BouquetStream_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResellerBouquet" ADD CONSTRAINT "ResellerBouquet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResellerBouquet" ADD CONSTRAINT "ResellerBouquet_bouquetId_fkey" FOREIGN KEY ("bouquetId") REFERENCES "Bouquet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_forcedServerId_fkey" FOREIGN KEY ("forcedServerId") REFERENCES "StreamServer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_lastWatchedStreamId_fkey" FOREIGN KEY ("lastWatchedStreamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineChannelWatch" ADD CONSTRAINT "LineChannelWatch_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineChannelWatch" ADD CONSTRAINT "LineChannelWatch_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MagDevice" ADD CONSTRAINT "MagDevice_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EnigmaDevice" ADD CONSTRAINT "EnigmaDevice_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EpgProgram" ADD CONSTRAINT "EpgProgram_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "EpgSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BillingEvent" ADD CONSTRAINT "BillingEvent_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineBouquet" ADD CONSTRAINT "LineBouquet_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineBouquet" ADD CONSTRAINT "LineBouquet_bouquetId_fkey" FOREIGN KEY ("bouquetId") REFERENCES "Bouquet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ticket" ADD CONSTRAINT "Ticket_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ticket" ADD CONSTRAINT "Ticket_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ticket" ADD CONSTRAINT "Ticket_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TicketMessage" ADD CONSTRAINT "TicketMessage_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES "Ticket"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TicketMessage" ADD CONSTRAINT "TicketMessage_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PanelChatMessage" ADD CONSTRAINT "PanelChatMessage_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PanelNotification" ADD CONSTRAINT "PanelNotification_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PanelNotification" ADD CONSTRAINT "PanelNotification_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PanelNotificationRead" ADD CONSTRAINT "PanelNotificationRead_notificationId_fkey" FOREIGN KEY ("notificationId") REFERENCES "PanelNotification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PanelNotificationRead" ADD CONSTRAINT "PanelNotificationRead_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserGroup" ADD CONSTRAINT "UserGroup_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "UserGroup"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeviceBinding" ADD CONSTRAINT "DeviceBinding_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamFingerprint" ADD CONSTRAINT "StreamFingerprint_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamFingerprint" ADD CONSTRAINT "StreamFingerprint_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SameIpDetection" ADD CONSTRAINT "SameIpDetection_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoadBalancerSession" ADD CONSTRAINT "LoadBalancerSession_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoadBalancerSession" ADD CONSTRAINT "LoadBalancerSession_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoadBalancerSession" ADD CONSTRAINT "LoadBalancerSession_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TmdbSyncJob" ADD CONSTRAINT "TmdbSyncJob_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "M3uSyncJob" ADD CONSTRAINT "M3uSyncJob_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "StreamProvider"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamHealthCheck" ADD CONSTRAINT "StreamHealthCheck_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamHealthCheck" ADD CONSTRAINT "StreamHealthCheck_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamIssue" ADD CONSTRAINT "StreamIssue_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StreamIssue" ADD CONSTRAINT "StreamIssue_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MassEditJob" ADD CONSTRAINT "MassEditJob_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MigrationJob" ADD CONSTRAINT "MigrationJob_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "XdriveBackup" ADD CONSTRAINT "XdriveBackup_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ServerCleanerTask" ADD CONSTRAINT "ServerCleanerTask_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResellerApiKey" ADD CONSTRAINT "ResellerApiKey_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EpgAutoAssignment" ADD CONSTRAINT "EpgAutoAssignment_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "EpgSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EpgAutoAssignment" ADD CONSTRAINT "EpgAutoAssignment_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineAppsLock" ADD CONSTRAINT "LineAppsLock_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineAppsLock" ADD CONSTRAINT "LineAppsLock_policyId_fkey" FOREIGN KEY ("policyId") REFERENCES "AppsLockPolicy"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SourceMonitorAlert" ADD CONSTRAINT "SourceMonitorAlert_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SourceMonitorAlert" ADD CONSTRAINT "SourceMonitorAlert_serverId_fkey" FOREIGN KEY ("serverId") REFERENCES "StreamServer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConnectionGeography" ADD CONSTRAINT "ConnectionGeography_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConnectionGeography" ADD CONSTRAINT "ConnectionGeography_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiQueryLog" ADD CONSTRAINT "AiQueryLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "PanelUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiSupportChat" ADD CONSTRAINT "AiSupportChat_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiTranscodeSuggestion" ADD CONSTRAINT "AiTranscodeSuggestion_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ModerationFlag" ADD CONSTRAINT "ModerationFlag_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES "Stream"("id") ON DELETE CASCADE ON UPDATE CASCADE;

